/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.blackbackground {
	-fx-background-color:
	linear-gradient(from 50% 0% to 50% 100%,rgba(50,50,50,0.1) 50%, rgba(0,0,0,0) 100%),
	linear-gradient(from 50% 0% to 50% 100%, rgba(239, 243, 255, 0.1) 0%,rgba(239, 243, 255, 0.25) 17%, rgba(239, 243, 255, 0.25) 75%, transparent 75%),
	linear-gradient(from 50% 0% to 50% 100%, transparent 0%, rgba(239, 243, 255, 0.5) 100%);
}
.blackbackground2 {
	-fx-background-color:rgba(150,150,150,0.3);
}
.bottomborder {
	-fx-border-color: #cfd3df;
	-fx-border-width: 0 0 1 0;
}
.rightborder {
	-fx-border-color: rgba(255,255,255,0.3);
	-fx-border-width: 0 1 0 0;
}
.blackbackgroundplain {
	-fx-background-color:rgba(0,0,0,1), radial-gradient(focus-angle 0, focus-distance 0%, center 50% 50%, radius 100%, rgba(255,255,255,0.3) 25%, transparent);
}
.button {
	-fx-border-color: rgba(100,110,170,1);
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
	-fx-border-width: 1px;
    -fx-inner-border: transparent;
    -fx-body-color: rgba(239, 243, 255, 0.8);
 
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color; 
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
.button:hover {
	-fx-body-color:rgba(220, 239, 255, 0.8);
}
.button:pressed {
	-fx-body-color:rgba(204, 222, 255, 0.8);
}
.button:focused {
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}
.progress-bar {
	-fx-focus-color: transparent;
	-fx-accent: #dfe3ef;
}
.progress-bar > .track {
	-fx-background-color: transparent;
}
.progress-bar > .bar {
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 0.20em;
}